@import "tailwindcss";

:root[data-theme="dark"] {
  --bg: rgb(9 9 11);
  --header: rgb(9 9 11);
  --text: #fff;
  --header_text: #fff;
}

:root[data-theme="light"] {
  --bg: #fff;
  --header: #fff;
  --text: #000;
  --header_text: #000;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.background {
  background-color: var(--bg);
}

header {
  color: var(--header_text);

  background: var(--bg);
}

.logoText {
  color: var(--header_text);
}
